{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Konato</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/icon/favicon.png' %} ">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/side.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/profile.css' %} ">




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    
</head>
<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/icon/loder.png' %} " alt="loder">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <div class="header-area">
            <div class="main-header">
                <div class="header-top header-sticky">
                    <div class="container">
                        <div class="d-flex align-items-center justify-content-between flex-wrap position-relative">
                            <!-- Logo -->
                            <div class="left-side d-flex align-items-center">
                                <div class="logo">
                                    <a href="{% url 'home' %}"><img src="{% static 'assets/img/logo/logo.png' %} " alt=""></a>
                                </div>
                                <!-- Main-menu -->
                                {% if user.is_authenticated %}

                                <div class="main-menu d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">  
                                            <li><a href="{% url 'add' %}">Add Property</a></li>
                                            <li><a href="{% url 'property' %}">My Properties</a></li>
                                            
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="header-right-btn f-right">
                                <a href="#" class="header-btn2">Welcome:<span> {{user.get_full_name}}</span></a> 
                                <a href="{% url 'profile' %}" class="btn_1">My Account</a>
                                <a href="{% url 'logout' %}" class="btn_1">Logout</a>
                            </div>

                            {% else %}

                            <div class="main-menu d-none d-lg-block">
                                <nav> 
                                    <ul id="navigation"> 
                                        <li><a href="{% url 'home' %}">Home</a></li>  
                                        <li><a href="{% url 'property' %}">Property</a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="header-right-btn f-right">
                            <!-- <a href="#" class="header-btn2">Call Us: <span>+10 (78) 356 3276</span></a> -->
                            <a href="{% url 'login' %}" class="btn_1">Seller Login</a>
                        </div>

                            {% endif %}
                            
                              
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </header>

    

    {% block 'content' %}
    
    {% endblock 'content' %}

    
    <!-- Scroll Up -->
    <div id="back-top">
        <a class="wrapper" title="Go to Top" href="#">
            <div class="arrows-container">
                <div class="arrow arrow-one">
                </div>
                <div class="arrow arrow-two">
                </div>
            </div>
        </a>
    </div>
    
    <!-- JS here -->
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %} "></script>
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %} "></script>
    <script src="{% static 'assets/js/popper.min.js' %} "></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %} "></script>
    
    <!-- Slick-slider , Owl-Carousel ,slick-nav -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %} "></script>
    <script src="{% static 'assets/js/slick.min.js' %} "></script>
    <script src="{% static 'assets/js/jquery.slicknav.min.js' %} "></script>
    
    <!--wow , counter , waypoint, Nice-select -->
    <script src="{% static 'assets/js/wow.min.js' %} "></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %} "></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %} "></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %} "></script>
    <script src="{% static 'assets/js/waypoints.min.js' %} "></script>
    
    <!-- contact js -->
    <script src="{% static 'assets/js/contact.js' %} "></script>
    <script src="{% static 'assets/js/jquery.form.js' %} "></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %} "></script>
    <script src="{% static 'assets/js/mail-script.js' %} "></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %} "></script>
    
    <!--  Plugins, main-Jquery -->	
    <script src="{% static 'assets/js/plugins.js' %} "></script>
    <script src="{% static 'assets/js/main.js' %} "></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script>
        var app2 = new Vue({
            el: "#contactForm",
            data: {
                name: '',
                email:'', 
                subject : '',
                message: '',
                url:" {% url 'contact' %}"
            },
            methods:{
                post_data(){
                    if(this.name === '' || this.email === '' || this.subject ==='' || this.message === '' ){
                        Swal.fire({
                            icon: 'error',
                            title: 'Error...',
                            text: 'Veuillez remplir tous les champs',
                          })
                    }
                    else if (!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.email)){
                        Swal.fire({
                            icon: 'error',
                            title: 'Email Error',
                            text: 'Veuillez saisir votre adresse e-mail dans ce format votre@exemple.com',
                          })
                    }
                    else{
                        console.log(this.appointment_date)
                      
                        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                        axios.defaults.xsrfCookieName = 'csrftoken'
      
                        let form = new FormData()
                        form.append('name', this.name)
                        form.append('email', this.email)
                        form.append('subject', this.subject)
                        form.append('message', this.message)
                        axios.post(this.url, form).then((response)=>{
                            if(response.data.success){
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success',
                                    text: response.data.msg,
      
                                })
                                
                                this.name = ''
                                this.email = ''
                                this.subject = ''
                                this.message = ''
                       
                            }
                        })
      
                    }
                   
                }
            },
            delimiters: ['%{', '}']
        })
      </script>

      <script>
        var app2 = new Vue({
            el: "#newsletters",
            data: {
                email:'', 
                url:" {% url 'home' %}"
            },
            methods:{
                post_data(){
                    if(this.email === '' ){
                        Swal.fire({
                            icon: 'error',
                            title: 'Error...',
                            text: 'Veuillez remplir tous les champs',
                          })
                    }
                    else if (!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.email)){
                        Swal.fire({
                            icon: 'error',
                            title: 'Email Error',
                            text: 'Veuillez saisir votre adresse e-mail dans ce format votre@exemple.com',
                          })
                    }
                    else{
                      
                        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                        axios.defaults.xsrfCookieName = 'csrftoken'
      
                        let form = new FormData()
                        form.append('email', this.email)
                        axios.post(this.url, form).then((response)=>{
                            if(response.data.success){
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success',
                                    text: response.data.msg,
      
                                })
      
                                this.email = ''
                       
                            }
                        })
      
                    }
                   
                }
            },
            delimiters: ['%{', '}']
        })
      </script>
    
    
</body>
</html>