{% extends 'base/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block 'content' %}

{% if user.is_authenticated %}
    <main class="login-bg">
        <!-- login Area Start -->
        <div class="login-form-area">
            <div class="login-form">
                <!-- Login Heading -->
                <div class="login-heading">
                    <span>Login</span>
                    <p>Enter Login details</p>
                </div>
                <!-- Single Input Fields -->
            <form method="POST">
                {% csrf_token %}
                <div class="input-box">
                    <div class="single-input-fields">
                        <label>Name</label>
                        {% render_field form.name class="mt-4 form-control" placeholder="Name" %}
                    </div>
                    <div class="single-input-fields">
                        <label>Price</label>
                        {% render_field form.price class="mt-4 form-control" placeholder="CFA" %}
                    </div>                    
                    <div class="single-input-fields">
                        <label>User</label>
                        {% render_field form.users class="mt-4 form-control" placeholder="ID" %}
                    </div>                    
                </div>
                <!-- form Footer -->
                <br><br>
                <div class="login-footer">
                    <button type='submit' class="submit-btn3">Sumbit</button>
                </div>
            </form>
            </div>
        </div>
        <!-- login Area End -->
    </main>
    {% endif %}

{% endblock 'content' %}
