{% extends 'base/base.html' %}

{% load static %}

{% block 'content' %}

{% if user.is_authenticated %}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area">
            <div class="single-slider slider-bg2 hero-overly slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-10">
                            <!-- Hero Caption -->
                            <div class="hero-caption hero-caption2">
                                <h1>Properties Added</h1>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero Area End--> 
        <!-- latest-items start -->
        <section class="latest-items section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-50 text-center ">
                            <h2>My Properties</h2>
                        </div>
                    </div>
                </div>
                {% for property in properties %}
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-cat single-cat2 mb-30">
                            <div class="cat-img">
                                <img src="{{property.main_image.url}}" alt="">
                            </div>
                            <div class="cat-cap">
                                <div class="cap-top">
                                    <span>XOF {{property.price}}</span>
                                    <h5><a href="#">{{property.name}}</a></h5>
                                    <p>Property Type:{{property.property_type}}</p>
                                </div>
                                <div class="pricing d-flex justify-content-between align-items-center">
                                    <div class="single">
                                        <img src="{% static 'assets/img/icon/bed.svg'  %} " alt="">
                                        <span>{{property.bedroom}} Bedroom</span>
                                    </div>
                                    <div class="single">
                                        <img src="{% static 'assets/img/icon/bath.svg'  %} " alt="">
                                        <span>{{property.bathroom}} Bathroom</span>
                                    </div>
                                    <div class="single">
                                        <img src="{% static 'assets/img/icon/icons8-garage-32.png'  %} " alt="">
                                        <span>{{property.garage}} Garage</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

{% endblock 'content' %}