{% extends 'base/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block 'content' %}


<div  style="background-image: url('https://cdn.pixabay.com/photo/2016/08/11/23/48/mountains-1587287_1280.jpg'); background-repeat: no-repeat ; background-size: cover; "> 
    <br><br><br>

    <div class="register-form-area">
        <div class="register-form text-center">
            <!-- Login Heading -->
            <div class="register-heading">
                <span>Reset Password</span>
                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
            </div>

            <!-- Single Input Fields -->
        <form method="POST">
            {% csrf_token %}
            <div class="input-box">

                <div class="single-input-fields">
                    <label>Email Address</label>
                    {% render_field form.email class="mt-4 form-control"  %}
                </div>
            </div>

            <br>
            <div class="register-footer">
                <button type="submit" class="submit-btn3">Send Email</button>
            </div>  
        </form>
            <!-- form Footer -->
        
      
        </div>
    </div>
 
</div>
</div>

{% endblock 'content' %}