{% extends 'base/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block 'content' %}


<div  style="background-image: url('https://cdn.pixabay.com/photo/2016/08/11/23/48/mountains-1587287_1280.jpg'); background-repeat: no-repeat ; background-size: cover; "> 
    <br><br><br>

    <div class="register-form-area">
        <div class="register-form text-center">
            <!-- Login Heading -->
            <div class="register-heading">
                <span>Password Reset Confirm</span>
                <p>Please enter your new password.</p>
            </div>

            <!-- Single Input Fields -->
        <form method="POST">
            {% csrf_token %}
            <div class="input-box">

                <div class="single-input-fields">
                    <label>New Password</label>
                    {% render_field form.new_password1 class="mt-4 form-control"  %}
                </div>
                
                <div class="single-input-fields">
                    <label>New Password Confirmation</label>
                    {% render_field form.new_password1 class="mt-4 form-control"  %}
                </div>
            </div>

            <br>
            <div class="register-footer">
                <button type="submit" class="submit-btn3">Reset Password</button>
            </div>  
        </form>
            <!-- form Footer -->
        
      
        </div>
    </div>
 
</div>
</div>

{% endblock 'content' %}